<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<link rel="shortcut icon" href="/images/insta.png">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>로그인</title>
	<link rel="stylesheet" href="/css/layout.css" type="text/css" />
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" type="text/css" />
</head>

<body>

<div class="container">
	<main class="loginMain">
		<section class="login">
			<article class="login__form__container">
				<div class="login_form">
					<h1>
						<img src="/images/instagram-logo.png" alt="인스타그램"  style="display: block; width: 300px; margin: 0 auto;">
					</h1>

					<form class="login__input" action="/auth/sign-in" method="post">
						<input type="text" name="userName" placeholder="유저네임"> <input
							type="password" name="password" placeholder="비밀번호">
						<button>로그인</button>
					</form>
					<span class="login_input_check" th:if="${param.error}"> 입력한 계정을 찾을 수 없습니다. </span>
					<div class="login__horizon">
						<div class="br"></div>
						<div class="or">또는</div>
						<div class="br"></div>
					</div>

					<div class="login__naver">
						<a href="/oauth2/authorization/naver">
							<button style="display:flex; justify-content:center; margin:auto; border:none;">
								<i><img src="/images/btnG_naver.png" style="width:20px; height:20px; margin-right: 5px;"/></i> <span>Naver로
									로그인</span>
							</button>
						</a>
					</div>

                  </div>


					<div class="login__register">
						<span>계정이 없으신가요?</span> <a href="/auth/joinForm">가입하기</a>
					</div>
			</article>
		</section>
	</main>
</div>

</body>
</html>